<table>
	<tr>
		<td width="5%"></td>
		<td width="50%"><%= render 'form' %></td>
	</tr>
</table>


<%= link_to "	<button type=\"button\" 
		class=\"btn btn-default btn-xxl\">
		<span class=\"glyphicon glyphicon-home\">
		Strona Główna</span>
		</button>".html_safe, gists_path %>


<%= link_to "	<button type=\"button\" 
		class=\"btn btn-default btn-xxl\">
		<span class=\"glyphicon glyphicon-search\">
		Pokaż Gist</span>
		</button>".html_safe, @gist %>

