<%- model_class = Gist -%>


<%= link_to "	<button type=\"button\" 
		class=\"btn btn-default btn-xl\">
		<span class=\"glyphicon glyphicon-plus\">
		New Gist</span>
		</button>".html_safe, new_gist_path %>


<div id="infinite-scrolling" style="visibility: hidden;">
	<%= will_paginate %>
</div>

<div id="my-gists">
	<div class="jumbotrom">
		<div class="container">
			<h1>Listing gists</h1>

			<div class="row">
				<%= render @gists %>
			</div>
		</div>
	</div>
</div>
