<center>

<h1>New gist</h1>

<%= render 'form' %>

<%= link_to "	<button type=\"button\" 
		class=\"btn btn-default btn-xxl\">
		<span class=\"glyphicon glyphicon-home\">
		Strona Główna</span>
		</button>".html_safe, gists_path %>

</center>
